.btn{
    margin-right:5px;
}

.markAsDone {
    text-decoration: line-through;
    color: '#777';
}

.tableActions {
    width: 105px;
}

input{
    margin-bottom: 20px;
}

.cols{
    margin-bottom:20px;
}